force-app/main/default/flows/Dealer_Assignment-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Continent</name>
        <label>Continent</label>
        <locationX>318</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>No Dealer</defaultConnectorLabel>
        <rules>
            <name>North_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;US&quot;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Canada&quot;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Mexico&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Country</targetReference>
            </connector>
            <label>North America</label>
        </rules>
        <rules>
            <name>Europe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&quot;Europe&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EU_Process</targetReference>
            </connector>
            <label>Europe</label>
        </rules>
    </decisions>
    <decisions>
        <name>EU_Process</name>
        <label>Europe Process</label>
        <locationX>489</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <label>UK</label>
        </rules>
        <rules>
            <name>Continental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <label>Continental</label>
        </rules>
    </decisions>
    <decisions>
        <name>NA_Country</name>
        <label>NA Country</label>
        <locationX>588</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <label>US</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCustomer.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <label>Mexico</label>
        </rules>
    </decisions>
    <interviewLabel>Dealer Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealer Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer</name>
        <label>Get Customer</label>
        <locationX>55</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Continent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SelectedCustomer</outputReference>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
    </recordLookups>
    <startElementReference>Get_Customer</startElementReference>
    <variables>
        <name>CustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
